
*{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}




@media only screen and (min-device-width : 200px) and (max-device-width : 310px) {
.home{
width:455px!important;
height: 50vh!important;
min-height: 250px!important;
}
}



/*    Mobile*/
@media only screen and (min-device-width : 315px) and (max-device-width : 767px) {
/* Styles */
.mx-auto.d-sm-flex.d-block.flex-sm-nowrap {
text-align: center;
} p{font-size: 20px!important;
padding-bottom: 3px!important;}
h1{font-size: 40px!important;}
.navbar-nav{
background-color: rgba(0,0,0,0.5);
/*right: 50px!important;*/
width: 400px!important;
padding: 0px 50px;
}

.home nav{
top: 5px!important;
padding: 20px!important;;


}

.home{
width:455px!important;
height: 70vh!important;
min-height: 350px!important;
}
.caption{

margin-top: 50px!important;

left: 10%!important;
}


.caption p{ font-size: 20px!important;
padding-bottom: 3%!important;
text-align: center;}

.caption h1{font-size: 40px!important;
padding-bottom: 5%!important;
text-align: center;}

#section-one{
     padding-left: 55px!important;
padding-right: 0px!important;
padding-bottom: 50px!important;}
.web-development p{
width: 300px;
}

.web-development h1{
padding-bottom: 10px!important;
}
.id-brand h1{
padding-bottom: 10px!important; }
#section-two{
width: 455px;
padding-left: 40px!important;
padding-right: 40px!important;
padding-bottom: 50px!important;
padding-top:20px!important;}


#section-three{ 
/* padding-right: 100px!important; */
padding-bottom: 50px!important;
padding-top:50px!important;
}
.right-point {
    padding-left: 50px!important;
  
    }
    .left-point {
    padding-left: 50px!important;
    
    }

#section-four{
padding-left: 0%!important;
padding-right: 0px!important;
padding-bottom: 50px!important;
padding-top:50px!important;
width: 455px;
}

.blockquote {
width: 90%!important;
padding-top: 5px!important;
}
.client-middle{
padding-left: 10%!important; 
}
.img-cl{
padding-left: 15%!important; 
padding-bottom: 5%!important;
}

#section-five{
padding:6% 0% 10% 30%!important;

}
.blockquote-footer{
font-size: 0.3rem!important
}




.contact{ padding: 0%;}

#section-six{
width: 455px;
}
.bottomteam{ padding: 0px!important;
}

.card{
margin-bottom: 30px!important;
}
#section-seven{
width: 455px;
}
.card-deck{
padding-left: 70px;
}
#footer{
width: 455px;

}form{
padding-left: 15px!important;
}


}


/*    tblet*/
@media only screen and (min-device-width : 768px) and  (max-device-width: 1024px) {
.home{

height: 70vh!important;
min-height: 350px!important;
}

.caption{

margin-top: 200px!important;

}
#section-one{ 
    padding-left: 50px!important; 
padding-right: 0px!important;}
#section-two{ padding-left: 0px!important;
padding-right: 0px!important;
}    .navbar-nav{
background-color: rgba(0,0,0,0.5);
}

#section-three{ 
padding-left: 3%;
padding-right: 0px;
}
.left-point {
    margin-left: 5px!important;
   }
#section-four{ 
padding-left: 3px!important;
padding-right: 0px!important;
}
.speech{

padding-left: 0px!important;
padding-right: 0px!important;
width: 302px!important;

}

/* form{
margin-left: 30px!important;
} */

#section-six{
padding-left: 100px!important;
padding-right: 100px!important;
}
.bottomteam{

padding: 0px!important;
}
.ficon span{
font-weight: 10px!important}
.card-body{

padding-left: 0px!important;


}
.card-deck{
padding-left: 0px!important;

}

#section-five{


padding: 0px!important;

}


}
